body {
  background-color: white;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
ul,
li p {
  margin: 0;
  padding: 0;
}

:root {
  --font-family: "Arial", sans-serif;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding-top: 272px;
  padding-bottom: 700px;
  background-color: white;
}

.head {
  margin-top: 25px;

  font-family: var(--font-family);
  font-weight: 700;
  font-size: 60px;
  color: #3f2aff;
}

.home {
  padding-left: 52px;

  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  color: #3f2aff;

  background-image: url("Arrow1.svg");
  background-position: left;
  background-repeat: no-repeat;
}

.content {
  display: flex;
  margin-top: 50px;
  width: 100%;
  flex-wrap: wrap;
  gap: 25px;
  list-style: none;
  padding: 0;
}

.item__head {
  color: blue;
}

.item {
  position: relative;
  display: flex;
  flex-direction: column;
  max-height: 505px;
  padding: 25px;
  padding-top: 205px;

  background-repeat: no-repeat;
  background-position: top;
  background-size: contain;

  box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.1);
}

.item__list {
  width: 522px;
  min-height: 200px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  line-height: 165%;
  color: #333;
}

.item1 {
  background-image: url("Image1.jpg");
}

.item2 {
  background-image: url("Image2.jpg");
}

.item3 {
  background-image: url("Image3.jpg");
}

.item4 {
  background-image: url("Image4.jpg");
}

.item__number {
  position: absolute;
  bottom: 25px;
  right: 25px;

  font-family: var(--font-family);
  font-weight: 400;
  font-size: 40px;
  text-align: right;
  color: #eaeaea;
}
